form{
    background-color: transparent;
    backdrop-filter: blur(18px);
}
body{
    background:url(bg\ formulaire.jpg) no-repeat ;
    background-size: cover;
    background-position: center;

}
#input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

#input::placeholder{
    color: #fff;
}

#btn{
    background-color: goldenrod;
    color: white;
    width: 130px;
    height: 45px;
    border: 2px solid white;
    border-radius: 45%;
    margin-left: 34%;
    margin-top: 15px;
}
@media (max-width: 400px){
    label {
        width: 100%;
        margin-top: 30px;
    }
    #input {
        width: 100%;
        margin-top: 30px;
    }
    #btn{
        margin-left: 14%;
    }
    form{
        line-height: 16px;
    }
    div{
        width: 100%;
    }
}